body{
        background: #f9faff;
      }
      .Rectangle {
        background-color: #ffffff !important;
      }
      .bellotero {
        width: 133px;
        height: 26px;
        object-fit: contain;
      }
      .blue-primary{
        color: #071eb3 !important;
      }
      .title-1{
          width: 389px;
          height: 56px;
          background-color: #071eb3;
      }
      .container-Our-customers-love-u{
          padding-top: 192px;
      }
      .Our-customers-love-u {
          padding: 8px 4px 8px 4px;
          width: 381px;
          height: 40px;
          font-family: Roboto;
          font-size: 35px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.11;
          letter-spacing: 0.77px;
          color: #ffffff;
      }
      .container-carousel{
          padding-top: 128px;
      }
      .container-item-carousel{
          padding: 32px 32px 32px 32px;
          background: #ffffff;
      }
      .name-carousel{
          width: 158px;
          height: 48px;
          font-family: Roboto;
          font-size: 32px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #161616;
      }
      .position-carousel{
            width: 95px;
            height: 16px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #a5a5a5;
      }
      .comment-carousel{
            width: 565px;
            height: 190px;
            font-family: Roboto;
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #161616;
      }
      .container-calculator{
            padding-top: 188px;
      }
      .result-calculator{
            width: 188px;
            height: 72px;
            font-family: Roboto;
            font-size: 72px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 1px;
            text-align: right;
            color: #071eb3;
      }
      .icon-dollar{
            width: 22px;
            height: 40px;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.11;
            letter-spacing: 0.77px;
            color: #071eb3;
      }
      .input-calculator{
            width: 117px;
            height: 40px;
            font-family: Roboto;
            font-size: 36px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.11;
            letter-spacing: 0.77px;
            text-align: right;
            color: #161616;
      }
      .container-results{
            padding-top: 100px;
      }
      .calculator-description{
            text-align: justify;
      }
      .container-description-calculator{
            padding-top: 45px; 
              width: 349px;
              height: 120px;
              font-family: Roboto;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: normal;
              color: #161616;
      }
      .container-title-1{
          padding-top: 5px;
      }